<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:replace="fragments/head :: head" />
<body>
<div th:replace="fragments/header :: header" />
<div class="container">
    <main class="text-center">
        <form class="form-input" method="post" th:action="@{/account/login}" th:object="${memberLoginDto}">
            <img class="mb-4" src="/img/logo3.PNG" alt="" width="180" height="57">

            <label for="id" class="visually-hidden">id</label>
            <input type="text" id="id" name="id" class="form-control" placeholder="아이디" required autofocus>

            <label for="password" class="visually-hidden">password</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호" required>

            <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
        </form>
    </main>
</div>
<div th:replace="fragments/footer :: footer" />
</body>
</html>